*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Varela Round', sans-serif;
}
html{
  scroll-behavior: smooth;
}
body{
    background-color: #4e3d53;
    justify-content: center;
    text-align: center;
}
h1{
    font-family: 'Calistoga', cursive;
    transition: all 0.5s ease 0s;
}
h1:hover{
    color: darkred;
}
li, a, button{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}
header h1 {
  font-family: 'Montserrat', sans-serif;
  color: aliceblue;
  transition: all 0.8s linear ;
  letter-spacing: 1rem;
}
header h1:hover {
  color: #008CBA;
    cursor: pointer;
}
.logo{
    cursor: pointer;
    height: 80px;
    width: 180px;
}
.nav_links{
    list-style: none;
}
.nav_links li {
    display: inline-block;
    padding: 0 20px;
}
.nav_links li a{
    transition: all 0.3s ease 0s;
}
.nav_links li a:hover{
    color: cornflowerblue;
}
button{
    padding: 9px 25px;
    background-color: #9dd8c8;
    border: none;
    border-radius: 50px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}
button:hover{
    background-color: darkcyan;
}
/**************************DROPDOWN********************************/

.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}
.dropdown :hover{
  color:cornflowerblue;
}
/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropbtn{
  background-color: #24252A;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #24252A;}

/*****************************/

.mid-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;

}

.container {
    position: relative;
    width: 45%;
  }
  .container3{
    position: relative;
    width: 33%;
    height: 318px;
  }
  .image {
    display: block;
    width: 100%;
    height: 400px;
  }
  .first-text{
      background-color: #a98b98;
      color: white;
      display: block;
    width: 100%;
    height: 318px;
  }
  .textsize{
    height: 400px;
  }
  .first-text h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .blue{
    background-color: #a6f0c6;
  }
  .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #a6f0c6;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
  }
  .darkred{
    background-color: #a98b98;
  }
  
  .container:hover .overlay {
    height: 100%;
  }
  .container3:hover .overlay{
    height: 100%;
  }
  
  .text {
    white-space: nowrap; 
    color: white;
    /* font-size: 20px; */
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    align-items: center;
    text-align: center;
  }
  
  .nobg{
	  background-color:#4e3d53;
  }

  /**************CONTACT SECTION**********************/
  .contact-section{
    background: #4e3d53;
    padding: 80px 0;
    text-align: center;
  }
  
  .inner-width{
    max-width: 600px;
    margin: auto;
    padding: 0 20px;
  }
  
  .contact-section h1{
    /* font-size: 20px; */
    color: whitesmoke;
    margin-bottom: 40px;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 400;
  }
  
  .name,.email,.message{
    background: none;
    border:none;
    outline: none;
    border-bottom: 1px solid;
    color: whitesmoke;
    padding: 10px 6px;
    font-size: 14px;
    margin-bottom: 40px;
  }
  
  .name{
    float: left;
    width: 270px;
  }
  
  .email{
    float: right;
    width: 270px;
  }
  
  .message{
    min-width: 100%;
    max-width: 100%;
  }
  
  
  .contact-section button{
    background: none;
    color: #70a1ff;
    border: 1px solid #70a1ff;
    padding: 12px 40px;
    border-radius: 8px;
    text-transform: uppercase;
    font-size: 14px;
    transition: 0.4s linear;
    cursor: pointer;
  }
  
  .contact-section button:hover{
    background: #70a1ff;
    color: #fff;
  }
  
  
  @media screen and (max-width:600px){
    .name,.email{
      width: 100%;
    }
  }

  /********************TEXT WRITER***********************/
  .typewriter h1 {
    color: #fff;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    /* border-right: .15em solid orange; The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(30, end),
      blink-caret .5s step-end infinite;
  }
  .typewriter h1:hover{
    color: #d89cf6;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  /* @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange }
  } */
  #mont img{
    right: 250px;
  }
  
/***************** ABOUT US***************/
.about-us{
  display: inline-flex;
  background-color: white;
  margin: 0;
  width: 100%;
  padding-top: 4%;
  padding-bottom:3% ;
}
.aboutimage img {
  border-radius: 50%;
  height: 300px;
  margin: 5% auto;
  margin-left: 5%;
}
.about-text p{
  text-align: justify;
  margin-left: 17%;
  margin-right: 7%;
}
h1{
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

.couleur h1:hover {
  color:#70a1ff;
}
/************************ MONT **********************/
#mont{
  display: flex;
}

#montimg{
  width: 200px;
  height: 250px;
  position: absolute; 
  top:150;
}
#mydiv{
    margin-top: 200px;
    margin-left: 180px;

}
#mydiv button{
  background-color: #008CBA;
}
#mydiv button:hover{
  background-color: silver;
}
#para{
  position: fixed;
  bottom: 80px;
  left: 40%;
  color: #ddd;
}